<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./static/style.css">
    <script src="script.js"></script>
    <title>Document</title>
</head>

<body>

    <header class="container-fluid">
        <div class="container text-center" id="searchBox">
            <h1>search box</h1>
            <div class="form col-xs-12">
                <form action="{{url_for('result')}}" method="GET">
                    <input class="col-xs-9" id="searchBar" type="text" placeholder="search" name="search" />
                    <button type="submit">
                        <span class="glyphicon glyphicon-search col-xs-1" data-toggle="tooltip" title="Search"></span>
                    </button>
                </form>
            </div>
        </div>
        </div>
    </header>

</body>

</html>